.contact-added {
    padding: 1rem;
    transition: background .2s ease;
    color: $medium-grey;
    
    &:hover {
        background: #f0f0f0;
    }
    span {
        font-style: italic;
    }
}

@media (max-width: 1024px) {
    .contact-added {
        text-align: center;
    }
}
